spring:
  datasource:
    url: jdbc:mysql://localhost:3306/academia_ud?useSSL=false&serverTimezone=America/Bogota&allowPublicKeyRetrieval=true
    username: ${DB_USER:root}
    password: ${DB_PASS:admin}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
  sql:
    init:
      mode: never

jwt:
  secret: ${JWT_SECRET:prod-secret-key-at-least-32-chars-long}
  expiration: 86400000
  refresh-expiration: 604800000

logging:
  level:
    co.udistrital.academia: INFO
